:root {
  --clr-white: #FCFCFC;
  --clr-light-yellow: #ebf18b;
  --clr-green: #bff3bb;
  --clr-dark: #1D1D1D;
  --clr-dark-gray: #696767;
}

html,
body {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: var(--clr-dark);
  min-height: 100vh;
  background-color: var(--clr-white);
}

.container {
  width: 96%;
  max-width: 80rem;
  margin: 0 auto;
}

.header {
  position: relative;
  padding: 0.5rem 0;
  z-index: 0;
}

.header::before,
.header::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  background-color: var(--clr-light-yellow);
}

.header::before {
  width: 35%;
  height: 100%;
}

.header::after {
  width: 60%;
  height: 65%;
}

.title {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.25rem;
  word-break: break-word;
}

.subtitle {
  font-weight: 300;
  font-size: 1rem;
}

.main {
  margin-top: 1rem;
}

.main .list {
  display: inline-block;
  min-width: min(12rem, 100%);
  margin: 0.5rem 0 0;
  padding: 0.75rem;
  border: 1px solid var(--clr-light-yellow);
  border-radius: 0.325rem;
  list-style: none;
}

.main .item+.item {
  margin-top: 0.25rem;
}

.main .link {
  position: relative;
  color: var(--clr-dark-gray);
  text-decoration: none;
  z-index: 0;
}

.main .link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60%;
  background-color: var(--clr-green);
  z-index: -1;
  transform-origin: 0 100%;
  transform: scaleY(0);
  transition: transform 250ms ease-in-out;
}

.main .link:hover:after,
.main .link:focus:after {
  transform: scaleY(1);
}

@media screen and (min-width: 18rem) {
  .title {
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 1.125rem;
  }
}

@media screen and (min-width: 24rem) {
  .container {
    width: 90%;
  }

  .title {
    font-size: 1.75rem;
  }

  .subtitle {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 40rem) {
  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }
}